<div ng-controller="SideCtrl" class="buttondemoBasicUsage" style="padding: 0px;border:0px;margin: 0px">


        <table class="table table-bordered table-striped " id="driver">

            <tbody>
            <tr>
                <td class="my_heading2" style="border-width:0px">C : SCENE OF ACCIDENT & SEVERITY</td>
                <td style="width:5%"> Fatal</td>
                <td style="width:11%"><input class="ingizo"  type="text" /></td>
                <td style="width:11%"> Severe Injury</td>
                <td style="width:11%"> Simple Injury</td>
                <td  style="width:21.25%">Not Injured</td>
                <td style="width:12.75%;background-color:#c5d9f1 ">

            </tr>
            </tbody>

        </table>

        <table class="table table-bordered table-striped table-condensed" >

            <tbody>
            <tr>
                <td class="number" style="border-width:0px">1</td>
                <td style="width: 30%" class="driver" >Driver Details</td>
                <td style="width: 33%" class="vehicle">Vehicle Details</td>
                <td style="width: 34%" class="insurance"> Vehicle Insurance</td>
            </tr>
          </tbody>
       </table>

        <table class="table table-bordered table-striped table-condensed" >

        <tbody>
        <tr>
            <td class="number" style="border-width:0px">2</td>
            <td style="width: 15%" class="my_td">Surname </td>
            <td style="width:15%"> <input class="ingizo-driver"  type="text" /> </td>
            <td style="width: 16.5%" class="my_td">Vehicle Type </td>
            <td style="width: 16.5%"><input class="ingizo-gari" type="text" /></td>
            <td style="width: 17%" class="my_td">Insurance Company</td>
            <td style="width: 17%" class="my_td"><input class="ingizo-insurance" type="text"></td>

        <tr>

            <td class="number" style="border-width:0px">3</td>
            <td style="width: 15%" class="my_td">Other Names </td>
            <td style="width:15%"> <input class="ingizo-driver"  type="text" /> </td>
            <td style="width: 16.5%" class="my_td">Vehicle Registration Number </td>
            <td style="width: 16.5%"><input class="ingizo-gari" type="text" /></td>
            <td style="width: 17%" class="my_td">Insurance Type</td>
            <td style="width: 17%"><input class="ingizo-insurance" type="text"></td>
        </tr>
        <tr>

            <td class="number" style="border-width:0px">4</td>
            <td style="width: 15%" class="my_td">Physical Address </td>
            <td style="width:15%"> <input class="ingizo-driver"  type="text" /> </td>
            <td style="width: 16.5%" class="my_td">Owner's Full name</td>
            <td style="width: 16.5%"><input class="ingizo-gari" type="text" /></td>
            <td style="width: 17%" class="my_td">Phone Number</td>
            <td style="width: 17%"><input class="ingizo-insurance" type="text"></td>
        </tr>
        <tr>

            <td class="number" style="border-width:0px">5</td>
            <td style="width: 15%" class="my_td">Address PO Box </td>
            <td style="width:15%"> <input class="ingizo-driver"  type="text" /> </td>
            <td style="width: 16.5%" class="my_td">Nationality</td>
            <td style="width: 16.5%"><input class="ingizo-gari" type="text" /></td>
            <td style="width: 17%" class="my_td">Policy Number </td>
            <td style="width: 17%"><input class="ingizo-insurance" type="text"></td>
        </tr>
        <tr>

            <td class="number" style="border-width:0px">6</td>
            <td style="width: 15%" class="my_td">National ID </td>
            <td style="width:15%"> <input class="ingizo-driver"  type="text" /> </td>
            <td style="width: 16.5%" class="my_td">Physical Address</td>
            <td style="width: 16.5%"><input class="ingizo-gari" type="text" /></td>
            <td style="width: 17%" class="my_td">Expiration Date</td>
            <td style="width: 17%"><input class="ingizo-insurance" type="text"></td>
        </tr>
        <tr>

            <td class="number" style="border-width:0px">7</td>
            <td style="width: 15%" class="my_td">Phone No  </td>
            <td style="width:15%"> <input class="ingizo-driver"  type="text" /> </td>
            <td style="width: 16.5%" class="my_td">Address</td>
            <td style="width: 16.5%"><input class="ingizo-gari" type="text" /></td>
            <td style="width: 17%" class="my_td">Estimated Repair TSH</td>
            <td style="width: 17%"><input class="ingizo-insurance" type="text"></td>
        </tr>
        <tr>

            <td class="number" style="border-width:0px">8</td>
            <td style="width: 15%" class="my_td">Gender </td>
            <td style="width:15%"> <input class="ingizo-driver"  type="text" /> </td>
            <td style="width: 16.5%" class="my_td">Damage</td>
            <td style="width: 16.5%"><input class="ingizo-gari" type="text" /></td>
            <td style="width: 17%;text-align: center" ><strong>Damage</strong></td>
            <td style="width: 17%"><input class="ingizo-driver" type="text"></td>
        </tr>
        <tr>

            <td class="number" style="border-width:0px">9</td>
            <td style="width: 15%" class="my_td">Date Of Birth </td>
            <td style="width: 15%"> <input class="ingizo-driver"type="text" /> </td>
            <td style="width: 16.5%" class="my_td">Year of manufacturing</td>
            <td style="width: 16.5%"><input class="ingizo-gari" type="text" /></td>
            <td style="width: 17%" class="my_td">Vehicle</td>
            <td style="width: 17%"><input class="ingizo-driver" type="text"></td>
        </tr>
        <tr>

            <td class="number" style="border-width:0px">10</td>
            <td style="width: 15%" class="my_td">Nationality </td>
            <td style="width: 15%"> <input class="ingizo-driver"  type="text" /> </td>
            <td style="width: 16.5%" class="my_td">Chassis Number</td>
            <td style="width: 16.5%"><input class="ingizo-gari" type="text" /></td>
            <td style="width: 17%" class="my_td">Vehicle Total</td>
            <td style="width: 17%"><input class="ingizo-driver" type="text"></td>
        </tr>
        <tr>

            <td class="number" style="border-width:0px">11</td>
            <td style="width: 15%" class="my_td">Driving License ID </td>
            <td style="width: 15%"> <input class="ingizo-driver" type="text" /> </td>
            <td style="width: 16.5%" >Drugs <span> <input type="checkbox"/> </span> </td>
            <td style="width: 16.5%">Phone Use <span> <input type="checkbox"/> </span> </td>
            <td style="width: 17%" class="my_td">Infrastructure</td>
            <td style="width: 17%"><input class="ingizo-driver" type="text"></td>
        </tr>
        <tr>

            <td class="number" style="border-width:0px">12</td>
            <td style="width: 15%" class="my_td">Occupation </td>
            <td style="width: 15%"> <input class="ingizo-driver" type="text" /> </td>
            <td style="width: 16.5%" >
                Alcohol [%]
                <select>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                    <option value="60">60</option>
                    <option value="70">70</option>
                    <option value="80">80</option>
                    <option value="90">90</option>
                    <option value="100">100</option>
                </select>

            </td>
            <td style="width: 16.5%">Seat Belt / Helmet use <input type="checkbox"> </td>
            <td style="width: 17%" class="my_td">Insurance Company</td>
            <td style="width: 17%"><input class="ingizo-driver" type="text"></td>
        </tr>



        </tbody>
    </table>



        <div ng-controller="SideCtrl" class="row" style = "padding: 0px;margin: 0px;border: 0px" >


            <div layout="row" layout-sm="column" layout-align="center center"  style = "padding: 0px;margin: 0px;border: 0px">

            <md-checkbox ng-model="checked1" aria-label="Checkbox 1">
                Are There Any Passengers:
            </md-checkbox>

            <md-checkbox ng-model = "checked2" aria-label="Checkbox 1">
                Are There Any witness
            </md-checkbox>

            </div>

            <div class="check-element animate-show" ng-show="checked1">
                <ng-include src="'/apps/accident/views/partials/add_passenger.html'"></ng-include>
            </div>
            <div class="check-element animate-show" ng-show="checked2">
            <ng-include src="'/apps/accident/views/partials/add_witness.html'"></ng-include>
            </div>


        </div>



</div>