
<div class="col-sm-12" id="listTable">
    <table datatable="ng" class="table table-stripped">
        <thead>
        <tr>
            <th># </th>
            <th>TIN No</th>
            <th>License No</th>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="driver in data.drivers">
            <td>{{ $index+1 }}</td>
            <td>{{ driver.TIN_NO }}</td>
            <td>{{ driver.license_number }}</td>
            <td>{{ driver.first_name }} {{ driver.last_name }}</td>
            <td>{{ driver.birthdate }}</td>
            <td>{{ driver.gender }}</td>
            <td>{{ driver.phone_number }}</td>
            <td>{{ driver.address }}</td>
            <td>
                <md-button class="md-hue-3 md-raised md-primary md-fab" style="height: 24px;width: 24px" ng-click="showAdvanced($event,driver)"><i class="fa fa-info"></i>
                    <md-tooltip>
                        Info
                    </md-tooltip>
                </md-button>
                <md-button href="#/driver/{{driver.id}}" class="md-hue-3 md-raised md-primary md-fab" style="height: 24px;width: 24px"><i class="fa fa-list"></i> Details
                    <md-tooltip>
                        Info
                    </md-tooltip>
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>

</div>
