<div class="row" ng-controller="AccidentChartController">

    <md-toolbar>

        <center> <h2 class="md-toolbar-tools">
           MONTHLY ACCIDENTS SUMMARY STATISTICS
        </h2>
        </center>

    </md-toolbar>

     <center><!-- bar chart canvas element -->
            <canvas id="income" width="600" height="400" padding-left="10px"></canvas>
    </center>

    <md-toolbar>

        <center> <h2 class="md-toolbar-tools">
            Line Chart
        </h2>
        </center>

    </md-toolbar>


     <center>
        <!-- line chart canvas element -->
        <canvas id="buyers" width="600" height="400"></canvas>
      </center>
    <md-toolbar>

        <center> <h2 class="md-toolbar-tools">
            Pie Chart
        </h2>
        </center>

    </md-toolbar>

    <center>

        <!-- pie chart canvas element -->
        <canvas id="countries" width="600" height="400"></canvas>
    </center>

</div>