
<div class="col-sm-12" id="listTable">
    <table class="table table-stripped table-responsive" datatable="ng">
        <thead>
        <tr>
            <th># </th>
            <th  style="text-align: left;">Company Name</th>
            <th  style="text-align: left;">Company Type</th>
            <th style="text-align: left;">Phone Number</th>
            <th style="text-align: left;">Policy Period</th>
            <th>Address</th>
            <th style="text-align: left;"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="insurance in data.insurance">
            <td style="text-align: left;">{{ $index+1 }}</td>
            <td  style="text-align: left;">{{ insurance.company_name }}</td>
            <td style="text-align: left;">{{ insurance.type }}</td>
            <td style="text-align: left;">{{ insurance.phone_number }}</td>
            <td style="text-align: left;">{{ insurance.policy_period }}</td>
            <td style="text-align: left;">{{ insurance.address }}</td>
            <td style="text-align: left; width: 10%">
                <md-button class="md-hue-3 md-raised md-primary md-fab" style="height: 24px;width: 24px" ng-click="showAdvanced($event,insurance)"><i class="fa fa-info"></i>
                    <md-tooltip>
                        View Details
                    </md-tooltip>
                </md-button>
                <md-button class="md-hue-3 md-raised md-accent md-fab" style="height: 24px;width: 24px" ng-click="showAdvanced($event,insurance)"><i class="fa fa-th-list"></i>
                    <md-tooltip>
                        View Insured Cars
                    </md-tooltip>
                </md-button>
                <md-button class="md-hue-3 md-raised md-accent md-fab" style="height: 24px;width: 24px" ng-click="showAdvanced($event,insurance)"><i class="fa fa-plus-square"></i>
                    <md-tooltip>
                        Add Insured Cars
                    </md-tooltip>
                </md-button>
                <!--<md-button class="md-hue-3 md-accent md-raised md-fab" style="height: 24px;width: 24px"><i class="fa fa-edit"></i>-->
                    <!--<md-tooltip>-->
                        <!--Show net distribution summary-->
                    <!--</md-tooltip>-->
                <!--</md-button>-->
                <!-- <md-button class="md-hue-3 md-warn md-raised md-fab" style="height: 24px;width: 24px" ng-click="showConfirm($event,driver)"><i class="fa fa-trash-o"></i>
                     <md-tooltip>
                         Delete
                     </md-tooltip>
                 </md-button>
                 -->
             </td>
         </tr>
        </tbody>
     </table>

 </div>