<div ng-controller="offenceReportController">
	<form method="POST"
		action="http://localhost/psms/public/index.php/reports/download"
		accept-charset="UTF-8" class="form-horizontal" id="formms">
		<input name="_token" type="hidden"
			value="b706ikQaUK8WQWCRyblaQ63uPU9r6ucItLxfS56Y">
		<div class="form-group" style="margin-bottom: 5px">

			<div class="col-sm-2">
				Region<br>
				<select multiple="multiple" class="form-control multi"
					name="region[]" ng-model="criteria.regions" ng-options="i.id as i.name for i in regions">
					</select>
			</div>
			<div class="col-sm-2">
				District<br>
				<span id="district-area">
					<select multiple="multiple" class="form-control multi" ng-model="criteria.districts" ng-options="i.id as i.name for i in regdistricts" name="district[]"></select>
				</span>
			</div>
			<div class="col-sm-2">
				Offence Nature<br>
				<span id="district-area"><select multiple="multiple"
					class="form-control multi" name="offence[]"><option
							value="Failing to carry reflector on a bicycle">Failing
							to carry reflector on a bicycle</option>
						<option value="Riding a bicycle/tricycle which has no lights">Riding
							a bicycle/tricycle which has no lights</option>
						<option
							value="Using a bicycle/tricycle which has no horns,bell or other prescribed instruments">Using
							a bicycle/tricycle which has no horns,bell or other prescribed
							instruments</option>
						<option value="Riding a bicycle,which has no effective brake">Riding
							a bicycle,which has no effective brake</option>
						<option value="Riding a bicycle in prohibited manner">Riding
							a bicycle in prohibited manner</option>
						<option value="Failure to carry reflectors on a motor vehicle">Failure
							to carry reflectors on a motor vehicle</option>
						<option
							value="Failure to observe instructions conveyed by traffic sign,traffic signals and road markings">Failure
							to observe instructions conveyed by traffic sign,traffic signals
							and road markings</option>
						<option value="Offence relating to parking and standing">Offence
							relating to parking and standing</option>
						<option value="Failure to observe pedestrian crossing">Failure
							to observe pedestrian crossing</option>
						<option value="Taking motor vehicle without owners consent">Taking
							motor vehicle without owners consent</option>
						<option
							value="Failure to use dipped light when approaching an oncoming traffic">Failure
							to use dipped light when approaching an oncoming traffic</option>
						<option
							value="Offences relating to overtaking use of lanes,carriageways and conduct at intersections">Offences
							relating to overtaking use of lanes,carriageways and conduct at
							intersections</option>
						<option value="Driving or packing a motor vehicle on a footpath">Driving
							or packing a motor vehicle on a footpath</option>
						<option value="Failure to remove a vehicle from packing place">Failure
							to remove a vehicle from packing place</option>
						<option value="Failure to remove broken down vehicle">Failure
							to remove broken down vehicle</option>
						<option
							value="Failure of the owner or hirer of a motor vehicle to give identity of a driver">Failure
							of the owner or hirer of a motor vehicle to give identity of a
							driver</option>
						<option value="Employer failing to keep record of a driver">Employer
							failing to keep record of a driver</option>
						<option
							value="Driving or causing a motor vehicle to be driven with defective tyres">Driving
							or causing a motor vehicle to be driven with defective tyres</option>
						<option
							value="Driving or causing a motor vehicle or trailer to be driven with a load not well secured">Driving
							or causing a motor vehicle or trailer to be driven with a load
							not well secured</option>
						<option
							value="Driving a commercial vehicle;heavy duty or public service vehicle beyond speed limit">Driving
							a commercial vehicle;heavy duty or public service vehicle beyond
							speed limit</option>
						<option value="Failing to comply with road Traffic">Failing
							to comply with road Traffic</option>
						<option value="Failing to stop a vehicle">Failing to stop
							a vehicle</option>
						<option
							value="Stopping the motor vehicle on the left or near side of the road when stopping in township">Stopping
							the motor vehicle on the left or near side of the road when
							stopping in township</option>
						<option
							value="Stopping the motor vehicle within twenty-five feet from comer in township">Stopping
							the motor vehicle within twenty-five feet from comer in township</option>
						<option value="Unnecessary sounding of horns etc">Unnecessary
							sounding of horns etc</option>
						<option value="Failing to carry reflectors on motor vehicle">Failing
							to carry reflectors on motor vehicle</option>
						<option
							value="Conveying on motor omnibus goods not belonging to passengers">Conveying
							on motor omnibus goods not belonging to passengers</option>
						<option
							value="Owner of a public service vehicle failing to mark/print name and address,
                                                                            maximum number of passenger and weight of goods on the right or off side of a vehicle">Owner
							of a public service vehicle failing to mark/print name and
							address, maximum number of passenger and weight of goods on the
							right or off side of a vehicle</option>
						<option value="Careless or inconsiderate use of motor vehicle">Careless
							or inconsiderate use of motor vehicle</option>
						<option value="Causing damage to a motor vehicle">Causing
							damage to a motor vehicle</option>
						<option value="Obstructing a driver of motor vehicle">Obstructing
							a driver of motor vehicle</option>
						<option value="Restriction on pillion riding">Restriction
							on pillion riding</option>
						<option value="Riding in dangerous position">Riding in
							dangerous position</option>
						<option value="Driving unreasonably slowly">Driving
							unreasonably slowly</option>
						<option value="Failure to stop at Railway crossing">Failure
							to stop at Railway crossing</option>
						<option
							value="Failure to tighten a safety belt and or failure to wear a helmet">Failure
							to tighten a safety belt and or failure to wear a helmet</option>
						<option
							value="Offences relating to condition of motor vehicle for use on a road">Offences
							relating to condition of motor vehicle for use on a road</option>
						<option value="Offences relating to driving instructions">Offences
							relating to driving instructions</option>
						<option
							value="Failure to display identification marks for vehicle used for driving lessons">Failure
							to display identification marks for vehicle used for driving
							lessons</option>
						<option value="Driving without a valid driving license">Driving
							without a valid driving license</option>
						<option
							value="Failure to carry certificate of registration in the vehicle">Failure
							to carry certificate of registration in the vehicle</option>
						<option value="Failure to fix identification marks">Failure
							to fix identification marks</option>
						<option value="use of motor vehicle without registration">use
							of motor vehicle without registration</option></select></span>
			</div>
			<div class="col-sm-2">
				Offence Section<br>
				<select multiple="multiple" class="form-control multi"
					name="section[]"><option value="R.44">R.44</option>
					<option value="R.43">R.43</option>
					<option value="S.107">S.107</option>
					<option value="R.32">R.32</option></select>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2">
				Show<br>
				<select class="form-control" required="requiered" name="show" ng-model="criteria.show" ng-options="i.id as i.name for i in show">
					<option style="display:none" value="">Select a Show</option>
				</select>
			</div>
			<div class="col-sm-2">
				Drivers Gender<br>
				<select ng-model="criteria.gender" class="form-control" required name="vertical" ng-options="i.id as i.name for i in genders">
					<option style="display:none" value="">Select a Gender</option>
				</select>
				<!-- <option
						value="All">All</option>
					<option value="Male">Male</option>
					<option value="Female">Female</option> -->
			</div>
			<div class="col-sm-4">
				Horizontal<br />
				<select ng-model="criteria.horizontal" class="form-control" required name="horizontal" ng-options="i.id as i.name for i in horizontal">
					
				</select>
			</div>
			<div class="col-sm-4 year" style="display:{{display(criteria.horizontal== 'dates')}}">
				<div class="col-sm-2">
					From:<input ng-model="criteria.startDate" class="form-control" placeholder="Start Date" id="from" ui-date="dateOptions" name="from" type="text" value="">
				</div>
				<div class="col-sm-2">
					To:<input class="form-control" ui-date="dateOptions" placeholder="End Date" id="to" name="to" type="text" value="">
				</div>
			</div>
			<div class="col-sm-4 year" style="display:{{display(criteria.horizontal== 'year')}}">
				Year <br>
				<select class="form-control" ng-model="criteria.year" name="year" ng-options="i.id as i.name for i in years">
					</select>
			</div>
			<div class="col-sm-4 age" style="display:{{display(criteria.horizontal== 'age')}}">
				Age Range <br>
				<select class="form-control" name="age" ng-model="criteria.ageRange"  ng-options="i.id as i.name for i in ageRange"></select>
			</div>
			<div class="col-sm-4 years" style="display:{{display(criteria.horizontal== 'years')}}">
				<div class="col-sm-6">
					Start <br>
					<select class="form-control" ng-model="criteria.startYear" name="start" ng-options="i.id as i.name for i in years"></select>
				</div>
				<div class="col-sm-6">
					End<br>
					<select class="form-control" ng-model="criteria.endYear" name="end" ng-options="i.id as i.name for i in years"></select>
				</div>
			</div>
		</div>
		<div class="col-xs-12" style="margin-top: 5px">
			<md-button class="md-raised col-md-2" ng-click="tableReport()">
				
				<img src="http://localhost/psms/public/table.png"
					style="height: 20px; width: 20px"> Table
			</md-button>
			
			<md-button class="md-raised col-md-2"  id="bar">
				<img src="http://localhost/psms/public/bar.png"
					style="height: 20px; width: 20px"> Bar
			</md-button>
			<md-button class="md-raised col-md-2"  id="line">
				<img src="http://localhost/psms/public/line.png"
					style="height: 20px; width: 20px"> Line
			</md-button>
			<md-button class="md-raised col-md-2"  id="column">
				<img src="http://localhost/psms/public/column.png"
					style="height: 20px; width: 20px"> Column
			</md-button>
			<!--    <div class="col-md-2 btn btn-default" id="pie"><img src="http://localhost/psms/public/pie.png" style="height: 20px;width: 20px" /> Pie</div>-->
			<md-button class="md-raised col-md-2"  id="combined">
				<img src="http://localhost/psms/public/combined.jpg"
					style="height: 20px; width: 20px"> Combined
			</md-button>
			<md-button type="submit" class="md-raised col-md-2" 
				id="excel">
				<img src="http://localhost/psms/public/cvs.jpg"
					style="height: 20px; width: 20px"> Excel
			</md-button>
		</div>
	</form>
	<div>
		<table>
			<head>
			<tr>
				<th ng-repeat="date in results">{{date.time}}</th>
			</tr>
			</head>
			<tbody>
				<tr>
					<td ng-repeat="date in results">{{date.offences}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>