<div ng-controller="offenceReportController">
	<form method="POST"
		action="http://localhost/psms/public/index.php/reports/download"
		accept-charset="UTF-8" class="form-horizontal" id="formms">
		<input name="_token" type="hidden"
			value="b706ikQaUK8WQWCRyblaQ63uPU9r6ucItLxfS56Y">
		<div class="form-group" style="margin-bottom: 5px">

			<div class="col-sm-2">
				Region<br>
				<select multiple="multiple" class="form-control multi"
					name="region[]"><option value="1">Arusha</option>
					<option value="2">Dar es salaam</option>
					<option value="3">Dodoma</option>
					<option value="4">Geita</option>
					<option value="5">Iringa</option>
					<option value="6">Kagera</option>
					<option value="7">Katavi</option>
					<option value="8">Kigoma</option>
					<option value="9">Kilimanjaro</option>
					<option value="10">Lindi</option>
					<option value="11">Manyara</option>
					<option value="12">Mara</option>
					<option value="13">Mbeya</option>
					<option value="14">Morogoro</option>
					<option value="15">Mtwara</option>
					<option value="16">Mwanza</option>
					<option value="17">Njombe</option>
					<option value="18">Pwani</option>
					<option value="19">Rukwa</option>
					<option value="20">Ruvuma</option>
					<option value="21">Shinyanga</option>
					<option value="22">Simiyu</option>
					<option value="23">Singida</option>
					<option value="24">Tabora</option>
					<option value="25">Tanga</option></select>
			</div>
			<div class="col-sm-2">
				District<br>
				<span id="district-area"><select multiple="multiple"
					class="form-control multi" name="district[]"><option
							value="1">Arusha</option>
						<option value="2">Arumeru</option>
						<option value="3">Karatu</option>
						<option value="4">Longido</option>
						<option value="5">Monduli</option>
						<option value="6">Ngorongoro</option>
						<option value="7">Ilala</option>
						<option value="8">Kinondoni</option>
						<option value="9">Temeke</option>
						<option value="10">Bahi</option>
						<option value="11">Dodoma</option>
						<option value="12">Kondoa</option>
						<option value="13">Kongwa</option>
						<option value="14">Mpwapwa</option>
						<option value="15">Chamwino</option>
						<option value="16">Bukombe</option>
						<option value="17">Chato</option>
						<option value="18">Geita</option>
						<option value="19">Mbongowe</option>
						<option value="20">Nyang'hwale</option>
						<option value="21">Iringa rural</option>
						<option value="22">Iringa urban</option>
						<option value="23">Kilolo</option>
						<option value="24">Mufindi</option>
						<option value="25">Biharamulo</option>
						<option value="26">Bukoba urban</option>
						<option value="27">Bukoba rural</option>
						<option value="28">Karagwe</option>
						<option value="29">Misenyi</option>
						<option value="30">Muleba</option>
						<option value="31">Ngara</option>
						<option value="32">Mpanda</option>
						<option value="33">Mlele</option>
						<option value="34">Kasulu</option>
						<option value="35">Kibondo</option>
						<option value="36">Kigoma rural</option>
						<option value="37">Kigoma urban</option>
						<option value="38">Hai</option>
						<option value="39">Moshi rural</option>
						<option value="40">Moshi urban</option>
						<option value="41">Mwanga</option>
						<option value="42">Rombo</option>
						<option value="43">Same</option>
						<option value="44">Siha</option>
						<option value="45">Kilwa</option>
						<option value="46">Lindi rural</option>
						<option value="47">Lindi urban</option>
						<option value="48">Liwale</option>
						<option value="49">Nachingwea</option>
						<option value="50">Ruangwa</option>
						<option value="51">Babati</option>
						<option value="52">Hanang</option>
						<option value="53">Kiteto</option>
						<option value="54">Mbulu</option>
						<option value="55">Simanjiro</option>
						<option value="56">Bunda</option>
						<option value="57">Musoma rural</option>
						<option value="58">Musoma urban</option>
						<option value="59">Serengeti</option>
						<option value="60">Tarime</option>
						<option value="61">Rolya</option>
						<option value="62">Chunya</option>
						<option value="63">Ileje</option>
						<option value="64">Kyela</option>
						<option value="65">Mbarali</option>
						<option value="66">Mbeya rural</option>
						<option value="67">Mbeya urban</option>
						<option value="68">Mbozi</option>
						<option value="69">Rungwe</option>
						<option value="70">Kilombero</option>
						<option value="71">Kilosa</option>
						<option value="72">Morogoro rural</option>
						<option value="73">Morogoro urban</option>
						<option value="74">Mvomero</option>
						<option value="75">Ulanga</option>
						<option value="76">Lulindi</option>
						<option value="77">Masasi</option>
						<option value="78">Mtwara rural</option>
						<option value="79">Mtwara urban</option>
						<option value="80">Nanyumbu</option>
						<option value="81">Newala</option>
						<option value="82">Tandahimba</option>
						<option value="83">Ilemela</option>
						<option value="84">Kwimba</option>
						<option value="85">Magu</option>
						<option value="86">Misungwi</option>
						<option value="87">Nyamagana</option>
						<option value="88">Sengerema</option>
						<option value="89">Ukerewe</option>
						<option value="90">Ludewa</option>
						<option value="91">Makete</option>
						<option value="92">Njombe rural</option>
						<option value="93">Njombe urban</option>
						<option value="94">Wanging'ombe</option>
						<option value="95">Bagamoyo</option>
						<option value="96">Kibaha</option>
						<option value="97">Kisarawe</option>
						<option value="98">Mafia</option>
						<option value="99">Mkuranga</option>
						<option value="100">Rufiji</option>
						<option value="101">Nkasi</option>
						<option value="102">Sumbawanga rural</option>
						<option value="103">Sumbawanga urban</option>
						<option value="104">Mbinga</option>
						<option value="105">Songea rural</option>
						<option value="106">Songea urban</option>
						<option value="107">Tunduru</option>
						<option value="108">Namtumbo</option>
						<option value="109">Nyasa</option>
						<option value="110">Kahama</option>
						<option value="111">Kishapu</option>
						<option value="112">Shinyanga rural</option>
						<option value="113">Shinyanga urban</option>
						<option value="114">Bariadi</option>
						<option value="115">Busega</option>
						<option value="116">Itilima</option>
						<option value="117">Maswa</option>
						<option value="118">Meatu</option>
						<option value="119">Iramba</option>
						<option value="120">Manyoni</option>
						<option value="121">Singida rural</option>
						<option value="122">Singida urban</option>
						<option value="123">Igunga</option>
						<option value="124">Nzega</option>
						<option value="125">Sikonge</option>
						<option value="126">Uyui</option>
						<option value="127">Tabora</option>
						<option value="128">Urambo</option>
						<option value="129">Handeni</option>
						<option value="130">Kilindi</option>
						<option value="131">Korogwe</option>
						<option value="132">Lushoto</option>
						<option value="133">Muheza</option>
						<option value="134">Mkinga</option>
						<option value="135">Pangani</option>
						<option value="136">Tanga</option>
						<option value="137">Busokelo</option>
						<option value="138">Momba</option>
						<option value="139">Kalambo</option></select></span>
			</div>
			<div class="col-sm-2">
				Offence Nature<br>
				<span id="district-area"><select multiple="multiple"
					class="form-control multi" name="offence[]"><option
							value="Failing to carry reflector on a bicycle">Failing
							to carry reflector on a bicycle</option>
						<option value="Riding a bicycle/tricycle which has no lights">Riding
							a bicycle/tricycle which has no lights</option>
						<option
							value="Using a bicycle/tricycle which has no horns,bell or other prescribed instruments">Using
							a bicycle/tricycle which has no horns,bell or other prescribed
							instruments</option>
						<option value="Riding a bicycle,which has no effective brake">Riding
							a bicycle,which has no effective brake</option>
						<option value="Riding a bicycle in prohibited manner">Riding
							a bicycle in prohibited manner</option>
						<option value="Failure to carry reflectors on a motor vehicle">Failure
							to carry reflectors on a motor vehicle</option>
						<option
							value="Failure to observe instructions conveyed by traffic sign,traffic signals and road markings">Failure
							to observe instructions conveyed by traffic sign,traffic signals
							and road markings</option>
						<option value="Offence relating to parking and standing">Offence
							relating to parking and standing</option>
						<option value="Failure to observe pedestrian crossing">Failure
							to observe pedestrian crossing</option>
						<option value="Taking motor vehicle without owners consent">Taking
							motor vehicle without owners consent</option>
						<option
							value="Failure to use dipped light when approaching an oncoming traffic">Failure
							to use dipped light when approaching an oncoming traffic</option>
						<option
							value="Offences relating to overtaking use of lanes,carriageways and conduct at intersections">Offences
							relating to overtaking use of lanes,carriageways and conduct at
							intersections</option>
						<option value="Driving or packing a motor vehicle on a footpath">Driving
							or packing a motor vehicle on a footpath</option>
						<option value="Failure to remove a vehicle from packing place">Failure
							to remove a vehicle from packing place</option>
						<option value="Failure to remove broken down vehicle">Failure
							to remove broken down vehicle</option>
						<option
							value="Failure of the owner or hirer of a motor vehicle to give identity of a driver">Failure
							of the owner or hirer of a motor vehicle to give identity of a
							driver</option>
						<option value="Employer failing to keep record of a driver">Employer
							failing to keep record of a driver</option>
						<option
							value="Driving or causing a motor vehicle to be driven with defective tyres">Driving
							or causing a motor vehicle to be driven with defective tyres</option>
						<option
							value="Driving or causing a motor vehicle or trailer to be driven with a load not well secured">Driving
							or causing a motor vehicle or trailer to be driven with a load
							not well secured</option>
						<option
							value="Driving a commercial vehicle;heavy duty or public service vehicle beyond speed limit">Driving
							a commercial vehicle;heavy duty or public service vehicle beyond
							speed limit</option>
						<option value="Failing to comply with road Traffic">Failing
							to comply with road Traffic</option>
						<option value="Failing to stop a vehicle">Failing to stop
							a vehicle</option>
						<option
							value="Stopping the motor vehicle on the left or near side of the road when stopping in township">Stopping
							the motor vehicle on the left or near side of the road when
							stopping in township</option>
						<option
							value="Stopping the motor vehicle within twenty-five feet from comer in township">Stopping
							the motor vehicle within twenty-five feet from comer in township</option>
						<option value="Unnecessary sounding of horns etc">Unnecessary
							sounding of horns etc</option>
						<option value="Failing to carry reflectors on motor vehicle">Failing
							to carry reflectors on motor vehicle</option>
						<option
							value="Conveying on motor omnibus goods not belonging to passengers">Conveying
							on motor omnibus goods not belonging to passengers</option>
						<option
							value="Owner of a public service vehicle failing to mark/print name and address,
                                                                            maximum number of passenger and weight of goods on the right or off side of a vehicle">Owner
							of a public service vehicle failing to mark/print name and
							address, maximum number of passenger and weight of goods on the
							right or off side of a vehicle</option>
						<option value="Careless or inconsiderate use of motor vehicle">Careless
							or inconsiderate use of motor vehicle</option>
						<option value="Causing damage to a motor vehicle">Causing
							damage to a motor vehicle</option>
						<option value="Obstructing a driver of motor vehicle">Obstructing
							a driver of motor vehicle</option>
						<option value="Restriction on pillion riding">Restriction
							on pillion riding</option>
						<option value="Riding in dangerous position">Riding in
							dangerous position</option>
						<option value="Driving unreasonably slowly">Driving
							unreasonably slowly</option>
						<option value="Failure to stop at Railway crossing">Failure
							to stop at Railway crossing</option>
						<option
							value="Failure to tighten a safety belt and or failure to wear a helmet">Failure
							to tighten a safety belt and or failure to wear a helmet</option>
						<option
							value="Offences relating to condition of motor vehicle for use on a road">Offences
							relating to condition of motor vehicle for use on a road</option>
						<option value="Offences relating to driving instructions">Offences
							relating to driving instructions</option>
						<option
							value="Failure to display identification marks for vehicle used for driving lessons">Failure
							to display identification marks for vehicle used for driving
							lessons</option>
						<option value="Driving without a valid driving license">Driving
							without a valid driving license</option>
						<option
							value="Failure to carry certificate of registration in the vehicle">Failure
							to carry certificate of registration in the vehicle</option>
						<option value="Failure to fix identification marks">Failure
							to fix identification marks</option>
						<option value="use of motor vehicle without registration">use
							of motor vehicle without registration</option></select></span>
			</div>
			<div class="col-sm-2">
				Offence Section<br>
				<select multiple="multiple" class="form-control multi"
					name="section[]"><option value="R.44">R.44</option>
					<option value="R.43">R.43</option>
					<option value="S.107">S.107</option>
					<option value="R.32">R.32</option></select>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2">
				Show<br>
				<select class="form-control" required="requiered" name="show" ng-model="criteria.show" ng-options="i.id as i.name for i in show">
					<option style="display:none" value="">Select a Show</option>
				</select>
			</div>
			<div class="col-sm-2">
				Drivers Gender<br>
				<select ng-model="criteria.gender" class="form-control" required name="vertical" ng-options="i.id as i.name for i in genders">
					<option style="display:none" value="">Select a Gender</option>
				</select>
				<!-- <option
						value="All">All</option>
					<option value="Male">Male</option>
					<option value="Female">Female</option> -->
			</div>
			<div class="col-sm-4">
				Horizontal<br />
				<select ng-model="criteria.horizontal" class="form-control" required name="horizontal" ng-options="i.id as i.name for i in horizontal">
					
				</select>
			</div>
			<div class="col-sm-4 year" style="display:{{display(criteria.horizontal== 'dates')}}">
				<div class="col-sm-2">
					From:<input ng-model="criteria.startDate" class="form-control" placeholder="Start Date" id="from" ui-date="dateOptions" name="from" type="text" value="">
				</div>
				<div class="col-sm-2">
					To:<input class="form-control" ui-date="dateOptions" placeholder="End Date" id="to" name="to" type="text" value="">
				</div>
			</div>
			<div class="col-sm-4 year" style="display:{{display(criteria.horizontal== 'year')}}">
				Year <br>
				<select class="form-control" ng-model="criteria.year" name="year" ng-options="i.id as i.name for i in years">
					</select>
			</div>
			<div class="col-sm-4 age" style="display:{{display(criteria.horizontal== 'age')}}">
				Age Range <br>
				<select class="form-control" name="age" ng-model="criteria.ageRange"  ng-options="i.id as i.name for i in ageRange"></select>
			</div>
			<div class="col-sm-4 years" style="display:{{display(criteria.horizontal== 'years')}}">
				<div class="col-sm-6">
					Start <br>
					<select class="form-control" ng-model="criteria.startYear" name="start" ng-options="i.id as i.name for i in years"></select>
				</div>
				<div class="col-sm-6">
					End<br>
					<select class="form-control" ng-model="criteria.endYear" name="end" ng-options="i.id as i.name for i in years"></select>
				</div>
			</div>
		</div>

		<div class="col-xs-12" style="margin-top: 5px">
			<div class="col-md-2 btn btn-default btn-sm" id="table"
				ng-click="tableReport()">
				<img src="http://localhost/psms/public/table.png"
					style="height: 20px; width: 20px"> Table
			</div>
			<div class="col-md-2 btn btn-default btn-sm" id="bar">
				<img src="http://localhost/psms/public/bar.png"
					style="height: 20px; width: 20px"> Bar
			</div>
			<div class="col-md-2 btn btn-default btn-sm" id="line">
				<img src="http://localhost/psms/public/line.png"
					style="height: 20px; width: 20px"> Line
			</div>
			<div class="col-md-2 btn btn-default btn-sm" id="column">
				<img src="http://localhost/psms/public/column.png"
					style="height: 20px; width: 20px"> Column
			</div>
			<!--    <div class="col-md-2 btn btn-default" id="pie"><img src="http://localhost/psms/public/pie.png" style="height: 20px;width: 20px" /> Pie</div>-->
			<div class="col-md-2 btn btn-default btn-sm" id="combined">
				<img src="http://localhost/psms/public/combined.jpg"
					style="height: 20px; width: 20px"> Combined
			</div>
			<button type="submit" class="col-md-2 btn btn-default btn-sm"
				id="excel">
				<img src="http://localhost/psms/public/cvs.jpg"
					style="height: 20px; width: 20px"> Excel
			</button>
		</div>
	</form>
	<div>
		<table>
			<head>
			<tr>
				<th ng-repeat="date in results">{{date.time}}</th>
			</tr>
			</head>
			<tbody>
				<tr>
					<td ng-repeat="date in results">{{date.offences}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>